openapi: 3.0.0
info:
  description: "スキーマ"
  version: "1.0.0"
  title: "SaaSus Auth API Schema"
  contact:
    name: "Anti-Pattern"
servers:
  - url: "https://api.saasus.io/v1/auth"
    description: Production API Server
tags:
  - name: "basicInfo"
    description: 基本情報(Basic Info)
  - name: "authInfo"
    description: 認証情報(Auth Info)
  - name: "saasUser"
    description: SaaS単位のユーザー(SaaS User)
  - name: "tenantUser"
    description: Tenant単位のユーザー(Tenant User)
  - name: "userAttribute"
    description: ユーザーの追加属性(Additional User Attributes)
  - name: "tenantAttribute"
    description: テナントの追加属性(Additional Tenant Attributes)
  - name: "role"
    description: 役割(ロール)(Role)
  - name: "tenant"
    description: テナント(Tenant)
  - name: "saasusTenant"
    description: SaaSusテナント(SaaSus Tenant)
  - name: "env"
    description: 環境情報(Environment Info)
  - name: "credential"
    description: 認証・認可情報(Authentication/Authorization Info)
  - name: "error"
    description: テスト用途のエラー(Testing Purpose Error)

security:
  - Bearer: []
paths:
  /userinfo:
    get:
      tags:
        - userInfo
      operationId: GetUserInfo
      summary: ユーザー情報取得(Get User Info)
      description: |
        SaaS利用ユーザ(登録ユーザ)のIDトークンを元に、ユーザ情報を取得します。
        IDトークンは、SaaSus Platform生成のログイン画面からログイン時にCallback URLに渡されます。
        サーバ側でそのURLからIDトークンを取得し、このAPIを呼ぶことにより、該当ユーザの情報が取得できます。
        取得した上には、所属テナントや役割(ロール)、料金プランなどが含まれているため、それを元に認可の実装を行うことが可能です。

        User information is obtained based on the ID token of the SaaS user (registered user).
        The ID token is passed to the Callback URL during login from the SaaSus Platform generated login screen.
        User information can be obtained from calling this API with an ID token from the URL on the server side.
        Since the acquired tenant, role (role), price plan, etc. are included, it is possible to implement authorization based on it.
      parameters:
        - in: query
          name: token
          description: IDトークン(ID Token)
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: ユーザー情報(User Info)
                $ref: "#/components/schemas/UserInfo"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /basic-info:
    get:
      tags:
        - basicInfo
      operationId: GetBasicInfo
      summary: 基本設定情報の取得(Get Basic Configurations)
      description: |
        SaaS ID を元に設定されているドメイン名と CNAME レコードを取得します。
        取得した CNAME レコードを DNS に設定することで、ログイン画面を生成します。

        Get the domain name and CNAME record based on the SaaS ID.
        By setting the CNAME record on the DNS the login screen will be generated.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: 基本設定情報一覧(Basic Setting List)
                $ref: "#/components/schemas/BasicInfo"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - basicInfo
      operationId: UpdateBasicInfo
      summary: 基本設定情報の更新(Update Basic Configurations)
      description: |
        SaaS ID を元にパラメータとして設定したドメイン名を設定更新します。
        CNAME レコードが生成されますので、 DNS に設定して下さい。
        既に稼働中の SaaS アプリケーションに設定している場合には、動作に影響があります。

        Update the domain name that was set as a parameter based on the SaaS ID.
        After the CNAME record is generated, set it in your DNS.
        If it is set on a SaaS application that is already running, it will affect the behavior.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBasicInfoParam"
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth-info:
    get:
      tags:
        - authInfo
      operationId: GetAuthInfo
      summary: 認証情報を取得(Get Authentication Info)
      description: |
        ログイン後に認証情報を渡す SaaS の URL を取得します。
        ここで取得した URL へ認証情報を渡し、SaaSus SDK を利用してこの Callback の実装をすることが可能となります。

        Get the post-login SaaS URL that contains authentication information.
        You can pass authentication information to the URL obtained here and implement this Callback using the SaaSus SDK.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: 基本設定情報一覧(Basic Settings)
                $ref: "#/components/schemas/AuthInfo"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - authInfo
      operationId: UpdateAuthInfo
      summary: 認証情報を更新(Update Authentication Info)
      description: |
        ログイン後に認証情報を渡す SaaS の URL を登録します。
        ここで登録した URL に認証情報を渡し、SaaSus SDK を利用してこの Callback の実装をすることが可能となります。

        Register post-login SaaS URL for authentication information.
        It is possible to pass authentication information to the URL registered here and implement this Callback using the SaaSus SDK.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAuthInfoParam"
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users:
    get:
      tags:
        - saasUser
      operationId: GetSaasUsers
      summary: ユーザー一覧を取得(Get Users)
      description: |
        SaaSのユーザー全件を取得します。

        Get all SaaS users.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: SaaS単位の全ユーザー一覧(List of all SaaS users)
                $ref: "#/components/schemas/SaasUsers"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      tags:
        - saasUser
      operationId: CreateSaasUser
      summary: SaaSにユーザーを作成(Create SaaS User)
      description: |
        SaaSにユーザーを作成します。

        Create SaaS User.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSaasUserParam"
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                title: 作成したユーザー(Created User)
                $ref: "#/components/schemas/SaasUser"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /users/{user_id}:
    get:
      tags:
        - saasUser
      operationId: GetSaasUser
      summary: ユーザー情報を取得(Get User)
      description: |
        ユーザーIDからユーザー情報を取得します。

        Get user information based on user ID.
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaasUser"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - saasUser
      operationId: DeleteSaasUser
      summary: ユーザー情報を削除(Delete User)
      description: |
        ユーザーIDを元に一致するユーザーをテナントからすべて削除し、SaaSからも削除します。

        Delete all users with matching user ID from the tenant and SaaS.
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: OK
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/password:
    patch:
      tags:
        - saasUser
      operationId: UpdateSaasUserPassword
      summary: パスワードを変更(Change Password)
      description: |
        ユーザーのログインパスワードを変更します。

        Change user's login password.
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSaasUserPasswordParam"
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/email:
    patch:
      tags:
        - saasUser
      operationId: UpdateSaasUserEmail
      summary: メールアドレスを変更(Change Email)
      description: |
        ユーザーのメールアドレスを変更します。

        Change user's email.
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSaasUserEmailParam"
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/mfa/software-token:
    put:
      tags:
        - saasUser
      operationId: UpdateSoftwareToken
      summary: 認証アプリケーションを登録(Register Authentication Application)
      description: |
        認証アプリケーションを登録します。

        Register an authentication application.
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSoftwareTokenParam'
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/mfa/software-token/secret-code:
    post:
      tags:
        - saasUser
      operationId: CreateSecretCode
      summary: 認証アプリケーション登録用のシークレットコードを作成(Creates secret code for authentication application registration)
      description: |
        認証アプリケーション登録用のシークレットコードを作成します。

        Create a secret code for authentication application registration.
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretCodeParam'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareTokenSecretCode'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/mfa/preference:
    get:
      tags:
        - saasUser
      operationId: GetUserMfaPreference
      summary: ユーザーのMFA設定を取得(Get User's MFA Settings)
      description: |
        ユーザーのMFA設定を取得します。

        Get the user's MFA settings.
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaPreference'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - saasUser
      operationId: UpdateUserMfaPreference
      summary: ユーザーのMFA設定を更新(Update User's MFA Settings)
      description: |
        ユーザーのMFA設定を更新します。

        Update user's MFA settings.
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserMfaPreferenceParam'
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/providers/{provider_name}:
    delete:
      tags:
        - saasUser
      operationId: UnlinkProvider
      summary: 外部IDプロバイダの連携解除(Unlink external identity providers)
      description: |
        外部IDプロバイダの連携を解除します。

        Unlink external identity providers.
      parameters:
        - in: path
          name: provider_name
          schema:
            type: string
            example: "Google"
          required: true
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
  /tenants/all/users:
    get:
      tags:
        - tenantUser
      operationId: GetAllTenantUsers
      summary: ユーザー一覧を取得(Get Users)
      description: |
        テナントに所属しているユーザー全件を取得します。
        複数テナントに所属する同一ユーザーは別のオブジェクトとして返却されます。
        idは一意ではありません。

        Get all users belonging to the tenant.
        The same user belonging to multiple tenants will be returned as a different object.
        Id is not unique.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Users"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /tenants/all/users/{user_id}:
    get:
      tags:
        - tenantUser
      operationId: GetAllTenantUser
      summary: ユーザー情報を取得(Get User Info)
      description: |
        ユーザーIDからテナントに所属しているユーザー情報を取得します。
        複数テナントに所属している場合は別のオブジェクトとして返却されます。

        Get information on user belonging to the tenant from the user ID.
        If the user belongs to multiple tenants, it will be returned as another object.
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Users"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /tenants/{tenant_id}/users:
    get:
      tags:
        - tenantUser
      operationId: GetTenantUsers
      summary: テナントのユーザー一覧を取得(Get Tenant Users)
      description: |
        テナントに所属するユーザーを全件取得します。 idは一意です。

        Get all the users belonging to the tenant.
        Id is unique.
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Users"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - tenantUser
      operationId: CreateTenantUser
      summary: テナントにユーザーを作成(Create Tenant User)
      description: |
        テナントにユーザーを作成します。
        attributesを空のオブジェクトにした場合、追加属性は空で作成されます。

        Create a tenant user.
        If attributes is empty, the additional attributes will be created empty.
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantUserParam"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                title: 作成されたユーザー(Created User)
                $ref: "#/components/schemas/User"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/users/{user_id}:
    get:
      tags:
        - tenantUser
      operationId: GetTenantUser
      summary: テナントのユーザー情報を取得(Get Tenant User)
      description: |
        テナントのユーザーをIDから一件取得します。

        Get one tenant user by specific ID.
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - tenantUser
      operationId: UpdateTenantUser
      summary: テナントのユーザー属性情報を更新(Update Tenant User Attribute)
      description: |
        テナントのユーザー属性情報を更新します。

        Update tenant user attributes.
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTenantUserParam"
      responses:
        200:
          description: OK
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - tenantUser
      operationId: DeleteTenantUser
      summary: テナントのユーザー情報を削除(Delete Tenant User)
      description: |
        テナントからユーザーを削除します。

        Delete a user from your tenant.
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: OK
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/users/{user_id}/envs/{env_id}/roles:
    post:
      tags:
        - tenantUser
      operationId: CreateTenantUserRoles
      summary: テナントのユーザー情報に役割(ロール)を作成(Create Tenant User Role)
      description: |
        テナントのユーザーに役割(ロール)を作成します。

        Create roles on tenant users.
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/EnvId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantUserRolesParam"
      responses:
        201:
          description: Created
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/users/{user_id}/envs/{env_id}/roles/{role_name}:
    delete:
      tags:
        - tenantUser
      operationId: DeleteTenantUserRole
      summary: テナントのユーザーから役割(ロール)を削除(Remove Role From Tenant User)
      description: |
        テナントのユーザーから役割(ロール)を削除します。

        Remove a role from a tenant user.
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/EnvId'
        - $ref: '#/components/parameters/RoleName'
      responses:
        200:
          description: OK
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /roles:
    get:
      tags:
        - role
      operationId: GetRoles
      summary: 役割(ロール)一覧を取得(Get Roles)
      description: |
        登録されている役割(ロール)を一覧として取得します。
        ここで定義した役割をユーザーに付与することによって、SaaS側で役割ベースの認可を実装することが用意になります。
        また、同じユーザーでも、属するテナント・環境ごとに持っている役割を変えることが可能です。

        Get registered roles list.
        Granting users the roles defined here makes it easy to implement role-based authorization on the SaaS side.
        In addition, even the same user can have different roles for each tenant/environment to which they belong.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: 役割(ロール)一覧(Roles)
                $ref: "#/components/schemas/Roles"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - role
      operationId: CreateRole
      summary: 役割(ロール)を作成(Create Role)
      description: |
        役割(ロール)を作成します。
        ここで作成した役割をユーザーに付与することによって、SaaS側で役割ベースの認可を実装することが用意になります。
        また、同じユーザーでも、属するテナント・環境ごとに持っている役割を変えることが可能です。

        Create a role.
        By granting users the roles created here, it becomes easier to implement role-based authorization on the SaaS side.
        In addition, even the same user can have different roles for each tenant/environment to which they belong.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRoleParam"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                title: 作成された役割(ロール)(Created roles
                $ref: "#/components/schemas/Role"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /roles/{role_name}:
    delete:
      tags:
        - role
      operationId: DeleteRole
      summary: 役割(ロール)を削除(Delete Role)
      description: |
        役割(ロール)を削除します。

        Delete role.
      parameters:
        - $ref: '#/components/parameters/RoleName'
      responses:
        200:
          description: OK
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user-attributes:
    get:
      tags:
        - userAttribute
      operationId: GetUserAttributes
      summary: ユーザー属性の一覧を取得(Get User Attributes)
      description: |
        SaaSus Platform にて保持するユーザーの追加属性を取得します。
        例えば、ユーザー名を持たせる、誕生日を持たせるなど、ユーザーに紐付いた項目の定義を行うことができます。
        一方で、個人情報を SaaSus Platform 側に持たせたくない場合は、このユーザー属性定義を行わずに SaaS 側で個人情報を持つことを検討してください。

        Get additional attributes of the user saved in the SaaSus Platform.
        For example, you can define items associated with a user, such as user name, birthday, etc.
        If you don't want personal information on the SaaS Platform side, personal information can be kept on the SaaS side without user attribute definition.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: ユーザー属性一覧(User Attributes)
                $ref: "#/components/schemas/UserAttributes"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - userAttribute
      operationId: CreateUserAttribute
      summary: ユーザー属性の作成(Create User Attributes)
      description: |
        SaaSus Platform にて保持するユーザーの追加属性を登録します。
        例えば、ユーザー名を持たせる、誕生日を持たせるなど、ユーザーに紐付いた項目の定義を行うことができます。
        一方で、個人情報を SaaSus Platform 側に持たせたくない場合は、このユーザー属性定義を行わずに SaaS 側で個人情報を持つことを検討してください。

        Create additional user attributes to be kept on the SaaSus Platform.
        For example, you can define items associated with a user, such as user name, birthday, etc.
        If you don't want personal information on the SaaS Platform side, personal information can be kept on the SaaS side without user attribute definition.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserAttributeParam"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                title: 作成されたUserAttribute(Created User Attribute)
                $ref: "#/components/schemas/Attribute"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user-attributes/{attribute_name}:
    delete:
      tags:
        - userAttribute
      operationId: DeleteUserAttribute
      summary: ユーザー属性の削除(Delete User Attribute)
      description: |
        SaaSus Platform にて保持するユーザーの追加属性を削除します。

        Delete user attributes kept on the SaaSus Platform.
      parameters:
        - in: path
          name: attribute_name
          description: 属性名(Attribute Name)
          schema:
            type: string
            example: birthday
          required: true
      responses:
        200:
          description: OK
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenant-attributes:
    get:
      tags:
        - tenantAttribute
      operationId: GetTenantAttributes
      summary: テナント属性の一覧を取得(Get Tenant Attributes)
      description: |
        SaaSus Platform で管理する、テナントの追加属性の定義を取得します。
        例えばテナントの呼び名やメモなどをを持たせることができ、SaaSからSaaSus SDK/APIを利用して取得することができます。

        Get definitions for additional tenant attributes managed by the SaaSus Platform.
        For example, tenant name, memo, etc., then get the attributes from SaaS using the SaaSus SDK/API.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: テナント追加属性一覧(Added Tenant Attributes)
                $ref: "#/components/schemas/TenantAttributes"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - tenantAttribute
      operationId: CreateTenantAttribute
      summary: テナント属性の作成(Create Tenant Attribute)
      description: |
        SaaSus Platform で管理する、テナントの追加属性の登録を行います。
        例えばテナントの呼び名やメモなどをを持たせることができ、SaaSからSaaSus SDK/APIを利用して取得することができます。

        Register additional tenant attributes to be managed by SaaSus Platform.
        For example, tenant name, memo, etc., then get the attributes from SaaS using the SaaSus SDK/API.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantAttributeParam"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                title: 作成されたテナント属性情報(Created Tenant Attribute)
                $ref: "#/components/schemas/Attribute"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenant-attributes/{attribute_name}:
    delete:
      tags:
        - tenantAttribute
      operationId: DeleteTenantAttribute
      summary: テナント属性の削除(Delete Tenant Attribute)
      description: |
        SaaSus Platform で管理する、テナントの追加属性の削除を行います。

        Deletes tenant attributes managed by SaaSus Platform.
      parameters:
        - in: path
          name: attribute_name
          description: 属性名(Attribute Name)
          schema:
            type: string
            example: birthday
          required: true
      responses:
        200:
          description: OK
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants:
    get:
      tags:
        - tenant
      operationId: GetTenants
      summary: テナント一覧取得(Get Tenants)
      description: |
        SaaSus Platform で管理する、テナント情報の取得を行います。

        Get tenants managed by SaaSus Platform.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenants"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - tenant
      operationId: CreateTenant
      summary: テナントを作成(Create Tenant)
      description: |
        SaaSus Platform で管理する、テナント情報を作成します。

        Create a tenant managed by the SaaSus Platform.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantParam"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                title: 作成されたTenant
                $ref: "#/components/schemas/Tenant"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}:
    get:
      tags:
        - tenant
      operationId: GetTenant
      summary: テナント情報を取得(Get Tenant Details)
      description: |
        SaaSus Platform で管理する、テナントの詳細情報を取得します。

        Get the details of tenant managed on the SaaSus Platform.
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: テナント情報(Tenant Details)
                $ref: "#/components/schemas/TenantDetail"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - tenant
      operationId: UpdateTenant
      summary: テナント情報を更新(Update Tenant Details)
      description: |
        SaaSus Platform で管理する、テナントの詳細情報を更新します。

        Update SaaSus Platform tenant details.
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTenantParam"
      responses:
        200:
          description: OK
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - tenant
      operationId: DeleteTenant
      summary: テナント情報を削除(Delete Tenant)
      description: |
        SaaSus Platform で管理する、テナントの詳細情報を削除します。

        Delete SaaSus Platform tenant.
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/plans:
    put:
      tags:
        - tenant
      operationId: UpdateTenantPlan
      summary: テナントのプラン情報を更新(Update Tenant Plan Information)
      description: |
        SaaSus Platform で管理しているテナントのプラン情報を更新します。

        Update SaaSus Platform tenant plan information.
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTenantPlanParam"
      responses:
        200:
          description: OK
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/billing-info:
    put:
      tags:
        - tenant
      operationId: UpdateTenantBillingInfo
      summary: テナントの請求先情報を更新(Update Tenant Billing Information)
      description: |
        SaaSus Platform で管理しているテナントの請求先情報を更新します。

        Update SaaSus Platform tenant billing information.
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTenantBillingInfoParam"
      responses:
        200:
          description: OK
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /apikeys:
    get:
      tags:
        - saasusTenant
      operationId: GetApiKeys
      summary: APIキー一覧を取得(Get API Keys)
      description: |
        サーバサイド用に API キーを取得します。
        最大 2 つまで発行できます。

        Get API key for the server side.
        Up to 2 can be generated.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: 環境のAPIキー一覧(Env API key list)
                $ref: "#/components/schemas/ApiKeys"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - saasusTenant
      operationId: CreateApiKey
      summary: APIキーを作成(Create API Key)
      description: |
        サーバサイド用に API キーを発行します。
        最大 2 つまで発行できます。

        Generate an API key for the server side.
        Up to 2 can be generated.
      responses:
        201:
          description: Created
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /apikeys/{api_key}:
    delete:
      tags:
        - saasusTenant
      parameters:
        - $ref: '#/components/parameters/ApiKey'
      operationId: DeleteApiKey
      summary: APIキーを削除(Delete API Key)
      description: |
        サーバサイド用の API キーを削除します。

        Delete API Key.
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /saasid:
    get:
      tags:
        - saasusTenant
      operationId: GetSaasId
      summary: SaasIDを取得(Get SaasID)
      description: |
        テナントのSaasIDを取得します。
        SaaSus API および SaaSus SDK にて利用します。

        Get the tenant's SaasID.
        Used by SaaSus API and SaaSus SDK.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: SaaSID
                $ref: "#/components/schemas/SaasId"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - saasusTenant
      operationId: UpdateSaasId
      summary: SaasIDを更新(Update SaasID)
      description: |
        テナントのSaasIDを更新します。
        SaaSus API および SaaSus SDK にて利用します。
        既に稼働中の SaaS アプリケーションに設定している場合には、動作に影響があります。

        Update the tenant's SaasID.
        Used by SaaSus API and SaaSus SDK.
        If changed on an SaaS application that is already running, it will affect the behavior.
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notification-messages:
    get:
      tags:
        - basicInfo
      operationId: FindNotificationMessages
      summary: 通知メールテンプレートを取得(Get Notification Email Templates)
      description: |
        各種通知メールテンプレートを取得します。

        Get notification email templates.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: 通知メールテンプレート(Notification Email Template)
                $ref: "#/components/schemas/NotificationMessages"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - basicInfo
      operationId: UpdateNotificationMessages
      summary: 通知メールテンプレートを更新(Update Notification Email Template)
      description: |
        各種通知メールテンプレート更新します。

        Update notification email template.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNotificationMessagesParam"
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /identity-providers:
    get:
      tags:
        - authInfo
      operationId: GetIdentityProviders
      description: |
        cognitoに設定している外部プロバイダ経由のサインイン情報取得

        Get sign-in information via external provider set in cognito
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: 外部IDプロバイダのサインイン情報
                $ref: "#/components/schemas/IdentityProviders"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - authInfo
      operationId: UpdateIdentityProvider
      description: 外部IDプロバイダのサインイン情報更新
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateIdentityProviderParam"
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sign-in-settings:
    get:
      tags:
        - authInfo
      operationId: GetSignInSettings
      summary: パスワード要件を取得(Get Password Requirements)
      description: |
        ユーザーパスワードの要件設定を取得します。
        アルファベット、数字、記号の組み合わせで、桁数を長くすれば解読されづらい安全なパスワードを設定することが可能となります。

        Get user password requirements.
        Set a secure password that is difficult to decipher by increasing the number of digits by combining alphabets, numbers, and symbols.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: パスワード要件(Password Requirement)
                $ref: "#/components/schemas/SignInSettings"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - authInfo
      operationId: UpdateSignInSettings
      summary: パスワード要件を更新(Update Password Requirements)
      description: |
        ユーザーパスワードの要件設定を更新します。
        アルファベット、数字、記号の組み合わせで、桁数を長くすれば解読されづらい安全なパスワードを設定することが可能となります。

        Update user password requirements.
        Set a secure password that is difficult to decipher by increasing the number of digits by combining alphabets, numbers, and symbols.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSignInSettingsParam"
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customize-pages:
    get:
      tags:
        - basicInfo
      operationId: GetCustomizePages
      summary: 認証系画面設定情報取得(Get Authentication Page Setting)
      description: |
        認証系画面設定情報（新規登録・ログイン・パスワードリセット等）を取得します。

        Get the authentication screen setting information (new registration, login, password reset, etc.).
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: カスタマイズ画面情報(Customized Page info)
                $ref: "#/components/schemas/CustomizePages"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - basicInfo
      operationId: UpdateCustomizePages
      summary: 認証系画面設定情報設定(Authentication Page Setting)
      description: |
        認証系画面設定情報（新規登録・ログイン・パスワードリセット等）を更新します。

        Update the authentication page setting information (new registration, login, password reset, etc.).
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomizePagesParam"
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customize-page-settings:
    get:
      tags:
        - basicInfo
      operationId: GetCustomizePageSettings
      summary: 認証認可基本情報取得(Get Authentication Authorization Basic Information)
      description: |
        認証認可基本情報を取得します。

        Get authentication authorization basic information.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: 認証認可基本情報(Authentication Authorization Basic Information)
                $ref: "#/components/schemas/CustomizePageSettings"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - basicInfo
      operationId: UpdateCustomizePageSettings
      summary: 認証認可基本情報更新(Update Authentication Authorization Basic Information)
      description: |
        認証認可基本情報を更新します。

        Update authentication authorization basic information.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomizePageSettingsParam"
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /envs:
    get:
      tags:
        - env
      operationId: GetEnvs
      summary: 環境情報一覧を取得(Get Env Info)
      description: |
        登録されている環境情報を取得します。
        連携のテストや開発用環境や実際の運用で利用する環境など複数の環境を定義することができます。

        Get registered environment information.
        Multiple environments can be defined, such as an environment for testing linkage, an environment for development, and an environment for actual operation.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envs"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - env
      operationId: CreateEnv
      summary: 環境情報を作成(Create Env Info)
      description: |
        環境情報を作成します。
        連携のテストや開発用環境や実際の運用で利用する環境など複数の環境を定義することができます。

        Create environment information.
        Multiple environments can be defined, such as an environment for testing linkage, an environment for development, and an environment for actual operation.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnvParam"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Env"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /envs/{env_id}:
    get:
      tags:
        - env
      parameters:
        - $ref: '#/components/parameters/EnvId'
      operationId: GetEnv
      summary: 環境情報を取得(Get Env Details)
      description: |
        環境情報の詳細を取得します。

        Get environment details.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Env"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - env
      parameters:
        - $ref: '#/components/parameters/EnvId'
      operationId: UpdateEnv
      summary: 環境情報を更新(Update Env Info)
      description: |
        環境情報を更新します。

        Update env info.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnvParam"
      responses:
        200:
          description: OK
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - env
      parameters:
        - $ref: '#/components/parameters/EnvId'
      operationId: DeleteEnv
      summary: 環境情報を削除(Delete Env Info)
      description: |
        環境情報を削除します。

        Delete env info.
      responses:
        200:
          description: OK
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /stripe/init:
    patch:
      tags:
        - tenant
      operationId: CreateTenantAndPricing
      summary: stripe初期設定(Stripe Initial Setting)
      description: |
        billing経由でstripeへ初期情報を設定

        Set Stripe initial information via billing
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /stripe:
    delete:
      tags:
        - tenant
      operationId: DeleteStripeTenantAndPricing
      summary: stripe上の顧客情報・商品情報の削除(Delete Customer and Product From Stripe)
      description: |
        stripe上の顧客情報・商品情報を削除します

        Delete customer and product from Stripe.
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /client-secret:
    get:
      tags:
        - saasusTenant
      operationId: GetClientSecret
      summary: クライアントシークレットを取得(Get Client Secret)
      description: |
        API リクエストでアプリが使用する固定文字列を取得します。

        Gets the fixed string that the app uses in API requests.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: ClientSecret
                $ref: "#/components/schemas/ClientSecret"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - saasusTenant
      operationId: UpdateClientSecret
      summary: クライアントシークレットを更新(Update Client Secret)
      description: |
        API リクエストでアプリが使用する固定文字列を再発行します。
        既に稼働中のSaaSアプリケーションに設定している場合には、動作に影響があります。

        Reissue fixed strings that apps use in API requests.
        If changed on a SaaS application that is already running, it will affect the behavior.
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /credentials:
    get:
      tags:
        - credential
      operationId: GetAuthCredentials
      summary: 認証・認可情報の取得(Get Authentication/Authorization Information)
      description: |
        一時コードまたはリフレッシュトークンを利用してIDトークン・アクセストークン・リフレッシュトークンを取得する。

        Get ID token, access token, and refresh token using a temporary code or a refresh token.
      parameters:
        - $ref: '#/components/parameters/Code'
        - $ref: '#/components/parameters/AuthFlow'
        - $ref: '#/components/parameters/RefreshToken'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credentials'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - credential
      operationId: CreateAuthCredentials
      summary: 認証・認可情報の保存(Save Authentication/Authorization Information)
      description: |
        引数のIDトークン・アクセストークン・リフレッシュトークンを一時保存し取得用の一時コードを返却する。
        一時コードの有効期間は発行から10秒です。

        Temporarily save the parameter for the ID token, access token, and refresh token and return a temporary code for obtaining.
        Temporary codes are valid for 10 seconds from issuance.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuthCredentialsParam'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationTempCode'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sign-up:
    post:
      tags:
        - saasUser
      operationId: SignUp
      summary: 新規登録(Sign Up)
      description: |
        ユーザーを新規登録します。登録されたメールアドレスに対して仮パスワードを送信します。

        Register a new user. A temporary password will be sent to the registered email.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpParam'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                title: 作成したユーザー(Created User)
                $ref: "#/components/schemas/SaasUser"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sign-up/resend:
    post:
      tags:
        - saasUser
      operationId: ResendSignUpConfirmationEmail
      summary: 新規登録時の確認メール再送信(Resend Sign Up Confirmation Email)
      description: |
        新規登録時の仮パスワードを再送信します。

        Resend temporary password for the new registered user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendSignUpConfirmationEmailParam'
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /aws-marketplace/sign-up:
    post:
      tags:
        - saasUser
      operationId: SignUpWithAwsMarketplace
      summary: AWS Marketplaceによるユーザー新規登録(Sign Up with AWS Marketplace)
      description: |
        AWS Marketplaceと連携したユーザーを新規登録します。登録されたメールアドレスに対して仮パスワードを送信します。
        Registration Tokenが有効でない場合はエラーを返却します。

        Register a new user linked to AWS Marketplace. A temporary password will be sent to the registered email.
        If the Registration Token is not valid, an error is returned.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpWithAwsMarketplaceParam'
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                title: 作成したユーザー(Created User)
                $ref: "#/components/schemas/SaasUser"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /aws-marketplace/sign-up-confirm:
    post:
      tags:
        - saasUser
      operationId: ConfirmSignUpWithAwsMarketplace
      summary: AWS Marketplaceによるユーザー新規登録の確定(Confirm Sign Up with AWS Marketplace)
      description: |
        AWS Marketplaceと連携したユーザー新規登録を確定します。AWS Marketplaceと連携したテナントを新規作成します。
        Registration Tokenが有効でない場合はエラーを返却します。

        Confirm a new use registeration linked to AWS Marketplace. Create a new tenant linked to AWS Marketplace.
        If the Registration Token is not valid, an error is returned.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmSignUpWithAwsMarketplaceParam'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                title: 作成したテナント(Created Tenant)
                $ref: "#/components/schemas/Tenant"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /aws-marketplace/link:
    patch:
      tags:
        - saasUser
      operationId: LinkAwsMarketplace
      summary: AWS Marketplaceと既存のテナントの連携(Link an existing tenant with AWS Marketplace)
      description: |
        AWS Marketplaceと既存のテナントを連携します。
        Registration Tokenが有効でない場合はエラーを返却します。

        Link an existing tenant with AWS Marketplace.
        If the Registration Token is not valid, an error is returned.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkAwsMarketplaceParam'
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /plans/reset:
    put:
      tags:
        - tenant
      operationId: ResetPlan
      summary: プランに関わる情報を全削除
      description: |
        料金プランに関わる情報を全削除します。
        テナントに連携されたプランとプラン定義を削除します。
        Stripe連携している場合、連携が解除されます。

        Delete all information related to rate plans.
        Delete plans linked to tenants and plan definitions.
        If you are using the Stripe linkage, the linkage will be removed.
      responses:
        200:
          description: OK
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /errors/internal-server-error:
    get:
      tags:
        - "error"
      operationId: ReturnInternalServerError
      summary: ステータスコード500でサーバーエラーを返却(Return Internal Server Error)
      description: |
        テスト用途で使用するエンドポイントです。ステータスコード500でサーバーエラーを返却します。

        This endpoint is used for testing purposes. Returns a server error with status code 500.
      responses:
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: Credentials or access token for API
  parameters:
    UserId:
      in: path
      name: user_id
      description: ユーザーID(User ID)
      schema:
        type: string
        example: f94bfffc-8be2-11ec-b41a-0242ac120004
      required: true
    RoleName:
      in: path
      name: role_name
      description: 役割(ロール)名(role name)
      schema:
        type: string
        example: admin
      required: true
    TenantId:
      in: path
      name: tenant_id
      description: テナントID(Tenant ID)
      required: true
      schema:
        $ref: "#/components/schemas/Uuid"
    EnvId:
      in: path
      name: env_id
      description: 環境ID(Env ID)
      required: true
      schema:
        $ref: "#/components/schemas/Id"
    ApiKey:
      in: path
      name: api_key
      description: APIキー(API key)
      schema:
        type: string
        example: ZDMiIHN0UmVmOmRvY3VtZW50SUQ9Inhtc
      required: true
    AuthFlow:
      in: query
      name: auth-flow
      description: |
        認証フロー（Authentication Flow）
        tempCodeAuth: 一時コードを利用した認証情報の取得
        refreshTokenAuth: リフレッシュトークンを利用した認証情報の取得
        指定されていない場合は tempCodeAuth になります
      schema:
        type: string
        enum:
          - tempCodeAuth
          - refreshTokenAuth
    Code:
      in: query
      name: code
      description: 一時コード(Temp Code)
      schema:
        $ref: '#/components/schemas/Uuid'
    RefreshToken:
      in: query
      name: refresh-token
      description: リフレッシュトークン(Refresh Token)
      schema:
        type: string
  schemas:
    UserInfo:
      title: ユーザー情報(User Info)
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
          description: uuid
        email:
          type: string
          description: メールアドレス(E-mail)
          example: hoge@example.com
        tenants:
          type: array
          items: { $ref: "#/components/schemas/UserAvailableTenant" }
          description: テナント情報(Tenant Info)
      required:
        - id
        - email
        - tenants
    BasicInfo:
      title: 基本設定情報(Basic Setting Info)
      type: object
      properties:
        domain_name:
          type: string
          example: dev.saasus.io
          description: ドメイン名(Domain Name)
        is_dns_validated:
          type: boolean
          example: false
          description: DNSレコードの検証結果(DNS Record Verification Results)
        certificate_dns_record:
          $ref: "#/components/schemas/DnsRecord"
          description: 代替ドメイン名(Certificate Domain Name)
        cloud_front_dns_record:
          $ref: "#/components/schemas/DnsRecord"
          description: Cloud Front DNS レコード(CloudFront DNS Records)
        dkim_dns_records:
          type: array
          items: { $ref: "#/components/schemas/DnsRecord" }
          description: DKIM DNS レコード(DKIM DNS Records)
        default_domain_name:
          type: string
          description: デフォルトドメイン名(Default Domain Name)
          example: d78bh0l3saarv.cloudfront.net
        from_email_address:
          type: string
          description: 認証メールの送信元メールアドレス(Sender Email for Authentication Email)
          example: test@example.com
        reply_email_address:
          type: string
          description: 認証メールの返信元メールアドレス(Reply-from email address of authentication email)
          example: test@example.com
        is_ses_sandbox_granted:
          type: boolean
          example: false
          description: SESのサンドボックス解除及びCognitoのSES設定結果(SES sandbox release and Cognito SES configuration results)
      required:
        - domain_name
        - is_dns_validated
        - certificate_dns_record
        - cloud_front_dns_record
        - dkim_dns_records
        - default_domain_name
        - from_email_address
        - reply_email_address
        - is_ses_sandbox_granted
    DnsRecord:
      title: DNSレコード
      type: object
      properties:
        type:
          type: string
          description: CNAMEリソースレコード(CNAME Resource Record)
          enum:
            - CNAME
          example: CNAME
        name:
          type: string
          example: _k90jaskdfawehro.domain-of-saasus-client.com.
          description: レコード名(Record Name)
        value:
          type: string
          example: _cmojwc239j102mosd9.acm-validations.aws.
          description: 値(Value)
      required:
        - type
        - name
        - value
    AuthInfo:
      title: 認証情報
      type: object
      properties:
        callback_url:
          type: string
          example: https://example.com/callback
          description: 認証後遷移先(Redirect After Authentication)
      required:
        - callback_url
    SaasUser:
      title: SaaSのユーザー
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
          description: ユーザーID(User ID)
        email:
          type: string
          example: hoge@example.com
          description: メールアドレス(E-mail)
      required:
        - id
        - email
    SaasUsers:
      title: SaaSのユーザー 一覧
      type: object
      properties:
        users:
          type: array
          items: { $ref: "#/components/schemas/SaasUser" }
      required:
        - users
    CreateSaasUserParam:
      title: SaaSのユーザー作成パラメータ(SaaS User-Created Parameters)
      type: object
      properties:
        email:
          type: string
          example: hoge@example.com
          description: メールアドレス(E-mail)
        password:
          type: string
          example: "@Pass#Word1"
          description: パスワード(Password)
      required:
        - email
        - password
    User:
      title: ユーザー(User)
      type: object
      properties:
        id:
          type: string
          example: f94bfffc-8be2-11ec-b41a-0242ac120004
          description: ユーザーID(User ID)
        tenant_id:
          $ref: "#/components/schemas/Uuid"
          description: テナントID(Tenant ID)
        tenant_name:
          type: string
          example: saasus
          description: テナント名(Tenant Name)
        email:
          type: string
          example: hoge@example.com
          description: メールアドレス(E-mail)
        attributes:
          type: object
          additionalProperties: true
          example: { address: "東京都", birthday: 19940925, sex: "男" }
          description: |
            属性情報（SaaS 開発コンソールでユーザー属性定義を行い設定された情報を取得します）

            Attribute information (Get information set by defining user attributes in the SaaS development console)
        envs:
          type: array
          items: {$ref: "#/components/schemas/UserEnv"}
      required:
        - id
        - tenant_id
        - tenant_name
        - email
        - attributes
        - envs
    Users:
      title: ユーザー 一覧(Users)
      type: object
      properties:
        users:
          type: array
          items: {$ref: "#/components/schemas/User"}
      required:
        - users
    UserEnv:
      title: ユーザー のenv, role一覧(user env, roles)
      description: ユーザーの環境情報、役割(ロール)情報(User env info, roles)
      $ref: "#/components/schemas/UserAvailableEnv"
    ApiKeys:
      title: APIキー一覧(API Key List)
      type: object
      properties:
        api_keys:
          description:  APIキー(API Key)
          type: array
          items:
            type: string
            example: 1234567890abcdef
      required:
        - api_keys
    UpdateBasicInfoParam:
      title: 基本設定の更新パラメータ
      type: object
      properties:
        domain_name:
          type: string
          example: dev.saasus.io
          description: ドメイン名(Domain Name)
        from_email_address:
          type: string
          description: 認証メールの送信元メールアドレス(Sender email of authentication email)
          example: test@example.com
        reply_email_address:
          type: string
          description: 認証メールの返信元メールアドレス(Reply-from email address of authentication email)
          example: test@example.com
      required:
        - domain_name
        - from_email_address
    UpdateAuthInfoParam:
      title: 認証情報の更新パラメータ
      $ref: "#/components/schemas/AuthInfo"
    CreateTenantUserParam:
      title: ユーザーの作成パラメータ(User Creation Parameters)
      type: object
      properties:
        email:
          type: string
          example: hoge@example.com
          description: メールアドレス(e-mail)
        attributes:
          type: object
          additionalProperties: true
          example: { address: "東京都", birthday: 19940925, sex: "男" }
          description: |
            属性情報（SaaS 開発コンソールでユーザー属性定義を行い設定された情報を取得します）

            Attribute information (Get information set by defining user attributes in the SaaS development console)
      required:
        - email
        - attributes
    UpdateTenantUserParam:
      title: ユーザーの更新パラメータ
      type: object
      properties:
        attributes:
          type: object
          additionalProperties: true
          example: { address: "東京都", birthday: 19940925, sex: "男" }
          description: |
            属性情報（SaaS 開発コンソールでユーザー属性定義を行い設定された情報を取得します）

            Attribute information (Get information set by defining user attributes in the SaaS development console)
      required:
        - attributes
    UpdateSaasUserPasswordParam:
      title: ユーザーのパスワード更新パラメータ(User Password Update Parameters)
      type: object
      properties:
        password:
          type: string
          example: "@Pass#Word1"
          description: パスワード(password)
      required:
        - password
    UpdateSaasUserEmailParam:
      title: ユーザーのメールアドレス更新パラメータ(User E-mail Update Parameter)
      type: object
      properties:
        email:
          type: string
          example: hoge@example.com
          description: メールアドレス(e-mail)
      required:
        - email
    CreateUserAttributeParam:
      title: ユーザー属性の作成パラメータ
      $ref: "#/components/schemas/Attribute"
    CreateTenantAttributeParam:
      title: テナント追加属性の作成パラメータ
      $ref: "#/components/schemas/Attribute"
    CreateRoleParam:
      title: 役割(ロール)の作成パラメータ
      $ref: "#/components/schemas/Role"
    CreateTenantUserRolesParam:
      title: ユーザーの役割(ロール)追加パラメータ
      type: object
      properties:
        role_names:
          type: array
          description: 役割(ロール)情報(Role Info)
          items:
            type: string
            example: admin
      required:
        - role_names
    Id:
      type: integer
      x-go-type: uint64
      example: 1
    Uuid:
      type: string
      example: 69e732d6-8ecc-45c4-c2eb-8438f7ffe775
    Attribute:
      type: object
      properties:
        attribute_name:
          type: string
          example: birthday
          description: 属性名(attribute name)
        display_name:
          type: string
          example: 誕生日
          description: 表示名(display name)
        attribute_type:
          $ref: "#/components/schemas/AttributeType"
      required:
        - attribute_name
        - display_name
        - attribute_type
    UserAttributes:
      title: ユーザー属性一覧(User Attributes)
      type: object
      properties:
        user_attributes:
          type: array
          description: ユーザー属性定義(User attribute definition)
          items: { $ref: "#/components/schemas/Attribute" }
      required:
        - user_attributes
    TenantAttributes:
      title: テナントの追加属性一覧(Tenant Additional Attributes)
      type: object
      properties:
        tenant_attributes:
          type: array
          description: テナント属性定義(Tenant Attribute Definition)
          items: { $ref: "#/components/schemas/Attribute" }
      required:
        - tenant_attributes
    AttributeType:
      type: string
      enum:
        - string
        - number
        - bool
        - date
      description: |
        型（dateはYYYY-MM-DDの形式で使用する事ができます。）
        (Type (date can be set to YYYY-MM-DD format.))
    SaasId:
      title: SaaSID
      type: object
      properties:
        tenant_id:
          $ref: "#/components/schemas/Uuid"
          description: テナントID(Tenant ID)
        env_id:
          $ref: "#/components/schemas/Id"
          description: 環境ID(Env ID)
        saas_id:
          type: string
          example: ede66c43-9b9d-4222-93ed-5f11c96e08e2
          description: saas id
      required:
        - tenant_id
        - env_id
        - saas_id
    Role:
      title: 役割(ロール)(Role)
      type: object
      description: 役割(ロール)情報(role info)
      properties:
        role_name:
          type: string
          example: admin
          description: 役割(ロール)名(role name)
        display_name:
          type: string
          example: 管理者
          description: 役割(ロール)表示名(role display name)
      required:
        - role_name
        - display_name
    Roles:
      title: 役割(ロール)一覧(Roles)
      type: object
      properties:
        roles:
          type: array
          items: {$ref: "#/components/schemas/Role"}
      required:
        - roles
    Tenant:
      title: テナント情報(Tenants)
      type: object
      allOf:
      - properties:
          id:
            $ref: "#/components/schemas/Uuid"
            description: テナントID(tenant ID)
          plan_id:
            $ref: "#/components/schemas/Uuid"
            description: 料金プランID(plan ID)
          billing_info:
            $ref: "#/components/schemas/BillingInfo"
            description: 請求先情報(billing info)
        required:
          - id
      - $ref: "#/components/schemas/TenantProps"
      - $ref: "#/components/schemas/PlanReservation"
      - $ref: "#/components/schemas/PlanHistories"
    TenantDetail:
      title: テナント詳細情報(Tenant Detail)
      type: object
      allOf:
      - properties:
          current_plan_period_start:
            type: integer
            example: 1672531200
            description: 現在のプランの開始日時(current plan period start)
          current_plan_period_end:
            type: integer
            example: 1675209600
            description: 現在のプランの終了日時(current plan period end)
      - $ref: "#/components/schemas/Tenant"
    TenantProps:
      type: object
      properties:
        name:
          type: string
          example: Anti-Pattern Inc.
          description: テナント名(tenant name)
        attributes:
          type: object
          additionalProperties: true
          example: { address: "東京都", employee_number: 100 }
          description: 属性情報(attribute info)
        back_office_staff_email:
          type: string
          example: hoge@example.com
          description: 事務管理部門スタッフメールアドレス(administrative staff email address)
      required:
        - name
        - attributes
        - back_office_staff_email
    PlanReservation:
      title: テナントのプラン予約情報
      type: object
      properties:
        next_plan_id:
          $ref: "#/components/schemas/Uuid"
          description: 次回料金プランID(next billing plan ID)
        using_next_plan_from:
          type: integer
          example: 1640995200
          description: |
            次回料金プラン開始日時（stripe連携時、当月月初の0時（UTC）を指定すると当月月初開始のサブスクリプションを作成できます。ex. 2023年1月の場合は、1672531200 ）
            (Next billing plan start time (When using stripe, you can create a subscription that starts at the beginning of the current month by specifying 00:00 (UTC) at the beginning of the current month. Ex. 1672531200 for January 2023.))
        next_plan_tax_rate_id:
          $ref: "#/components/schemas/Uuid"
          description: 税率ID(tax rate ID)
    BillingInfo:
      title: テナント請求情報(Tenant Billing Info)
      type: object
      properties:
        name:
          type: string
          description: |
            請求用のテナント名

            Tenant name for billing
          example: 株式会社テストテナント
        address:
          $ref: '#/components/schemas/BillingAddress'
        invoice_language:
          $ref: '#/components/schemas/InvoiceLanguage'
      required:
        - name
        - address
        - invoice_language
    InvoiceLanguage:
      type: string
      description: |
        請求書の言語

        Language of invoice
      enum:
        - "ja-JP"
        - "en-US"
    BillingAddress:
      title: テナントの請求先住所(Tenant Billing Address)
      properties:
        street:
          type: string
          description: |
            住所の通りの名前や番地を含めた部分

            Street address, apartment or suite number.
          example: 神宮前1-1-1
        city:
          type: string
          description: |
            住所の市区町村

            City, district, suburb, town, or village.
          example: 渋谷区
        state:
          type: string
          description: |
            住所の都道府県または州

            State name or abbreviation.
          example: 東京都
        country:
          type: string
          pattern: '^[A-Z]{2}$'
          description: |
            住所の国を ISO 3166-1 alpha-2 コードで指定します。

            Country of the address using ISO 3166-1 alpha-2 code.
          example: "JP"
        additional_address_info:
          type: string
          description: |
            建物名・部屋番号などの住所に関する追加情報

            Additional information about the address, such as a building name, floor, or department name.
          example: オフィスビル3階
        postal_code:
          type: string
          description: |
            郵便番号

            ZIP or postal code.
          example: '123-4567'
      required:
        - street
        - city
        - state
        - country
        - postal_code
    Tenants:
      title: テナント一覧(Tenants)
      type: object
      description: テナント情報(Tenant Info)
      properties:
        tenants:
          type: array
          items: { $ref: "#/components/schemas/Tenant" }
      required:
        - tenants
    CreateTenantParam:
      title: テナントの新規作成パラメータ(Create Tenant Parameters)
      $ref: "#/components/schemas/TenantProps"
    UpdateTenantParam:
      title: テナントの更新パラメータ(Update Tenant Parameters)
      $ref: "#/components/schemas/TenantProps"
    UpdateTenantPlanParam:
      title: テナントのプラン情報更新パラメータ(Update Tenant Plan Parameters)
      $ref: "#/components/schemas/PlanReservation"
    UpdateTenantBillingInfoParam:
      title: テナントの請求先情報更新パラメータ(Update Tenant Billing Info Parameters)
      $ref: "#/components/schemas/BillingInfo"
    UserAvailableTenant:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
          description: テナントID(tenant ID)
        name:
          type: string
          example: Anti-Pattern Inc.
          description: テナント名(tenant name)
        completed_sign_up:
          type: boolean
          example: true
        envs:
          type: array
          description: 環境情報、役割(ロール)情報(environmental info, role info)
          items: { $ref: "#/components/schemas/UserAvailableEnv" }
        user_attribute:
          type: object
          additionalProperties: true
          example: { address: "東京都", employee_number: 100 }
          description: ユーザー追加属性(user additional attributes)
        back_office_staff_email:
          type: string
          example: hoge@example.com
          description: バックオフィス担当者のメール(back office contact email)
        plan_id:
          title: テナントが契約している料金プランのID
          $ref: '#/components/schemas/Uuid'
          description: 料金プランID(plan ID)
        is_paid:
          type: boolean
          description: |
            テナントの支払い状況(tenant payment status)
             ※ 現在はストライプ連携時のみ返却されます。Currently, it is returned only when stripe is linked.
          example: true
      required:
        - id
        - name
        - completed_sign_up
        - envs
        - user_attribute
        - back_office_staff_email
    UserAvailableEnv:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
          description: 環境ID(env ID)
        name:
          type: string
          description: 環境名(env name)
          example: SaaSus dev
        roles:
          type: array
          description: 役割(ロール)情報(role info)
          items: { $ref: "#/components/schemas/Role" }
      required:
        - id
        - name
        - roles
    Error:
      properties:
        type:
          type: string
          description: permission_denied
        message:
          type: string
          description: Error message
        data:
          type: object
          additionalProperties: true
          example: { sign_in_page_url: "auth.dev.saasus.io" }
      required:
        - type
        - message
    NotificationMessages:
      type: object
      properties:
        sign_up:
          $ref: "#/components/schemas/MessageTemplate"
          description: ログイン時メール(login email)
        create_user:
          $ref: "#/components/schemas/MessageTemplate"
          description: 新規ユーザーへの一時パスワード送信メール(send temporary password email to new users)
        resend_code:
          $ref: "#/components/schemas/MessageTemplate"
          description: 既存ユーザーへの確認コード再送メール(confirmation code resend email for existing users)
        forgot_password:
          $ref: "#/components/schemas/MessageTemplate"
          description: 忘れたパスワードのリクエスト用の確認コード送信メール(confirmation code email for forgotten password request)
        update_user_attribute:
          $ref: "#/components/schemas/MessageTemplate"
          description: 既存ユーザーへの確認コード再送メール(confirmation code resend email for existing users)
        verify_user_attribute:
          $ref: "#/components/schemas/MessageTemplate"
          description: 確認メール(confirmation email)
        authentication_mfa:
          $ref: "#/components/schemas/MessageTemplate"
          description: 認証時の MFA コード送信メール(MFA code email for authentication)
      required:
        - sign_up
        - create_user
        - resend_code
        - forgot_password
        - update_user_attribute
        - verify_user_attribute
        - authentication_mfa
    MessageTemplate:
      type: object
      properties:
        subject:
          type: string
          example: Verify your new account
          description: タイトル(title)
        message:
          type: string
          example: The verification code to your new account is {####}
          description: メッセージ(message)
      required:
        - subject
        - message
    UpdateNotificationMessagesParam:
      type: object
      properties:
        sign_up:
          $ref: "#/components/schemas/MessageTemplate"
          description: ログイン時メール(Login email)
        create_user:
          $ref: "#/components/schemas/MessageTemplate"
          description: 新規ユーザーへの一時パスワード送信メール(send temporary password email to new users)
        resend_code:
          $ref: "#/components/schemas/MessageTemplate"
          description: 既存ユーザーへの確認コード再送メール(confirmation code resend email for existing users)
        forgot_password:
          $ref: "#/components/schemas/MessageTemplate"
          description: 忘れたパスワードのリクエスト用の確認コード送信メール(confirmation code email for forgotten password request)
        update_user_attribute:
          $ref: "#/components/schemas/MessageTemplate"
          description: 既存ユーザーへの確認コード再送メール(confirmation code resend email for existing users)
        verify_user_attribute:
          $ref: "#/components/schemas/MessageTemplate"
          description: 確認メール(confirmation email)
        authentication_mfa:
          $ref: "#/components/schemas/MessageTemplate"
          description: 認証時の MFA コード送信メール(MFA code email for authentication)
    IdentityProviders:
      type: object
      properties:
        google:
          $ref: "#/components/schemas/IdentityProviderProps"
      required:
        - google
    IdentityProviderProps:
      type: object
      properties:
        application_id:
          type: string
          example: 1234567890123456
        application_secret:
          type: string
          example: 123456789b00def123456a12345678d1
        approval_scope:
          type: string
          example: profile email openid
      required:
        - application_id
        - application_secret
        - approval_scope
    UpdateIdentityProviderParam:
      type: object
      properties:
        provider:
          $ref: "#/components/schemas/ProviderName"
        identity_provider_props:
          description: |
            identity_provider_propsがnullの場合は、providerで指定された
            外部IDプロバイダのサインイン情報を無効化する。
          $ref: "#/components/schemas/IdentityProviderProps"
      required:
        - provider
    ProviderName:
      type: string
      enum:
        - Google
      example: Google
    SignInSettings:
      type: object
      properties:
        password_policy:
          $ref: "#/components/schemas/PasswordPolicy"
        device_configuration:
          $ref: "#/components/schemas/DeviceConfiguration"
        mfa_configuration:
          $ref: "#/components/schemas/MfaConfiguration"
        recaptcha_props:
          $ref: "#/components/schemas/RecaptchaProps"
        account_verification:
          $ref: "#/components/schemas/AccountVerification"
        self_regist:
          $ref: "#/components/schemas/SelfRegist"
        identity_provider_configuration:
          $ref: "#/components/schemas/IdentityProviderConfiguration"
      required:
        - password_policy
        - device_configuration
        - mfa_configuration
        - recaptcha_props
        - account_verification
        - self_regist
        - identity_provider_configuration
    PasswordPolicy:
      type: object
      description: パスワードポリシー(password policy)
      properties:
        minimum_length:
          type: integer
          x-go-type: uint64
          example: 10
          description: 最小文字数(minimum number of characters)
        is_require_lowercase:
          type: boolean
          example: true
          description: 一文字以上の小文字を含むが設定されているか(contains one or more lowercase characters)
        is_require_numbers:
          type: boolean
          example: true
          description: 一文字以上の数字を含むが設定されているか(contains one or more numeric characters)
        is_require_symbols:
          type: boolean
          example: true
          description: 一文字以上の特殊文字を含むが設定されているか(contains one or more special characters)
        is_require_uppercase:
          type: boolean
          example: true
          description: 一文字以上の大文字を含むが設定されているか(contains one or more uppercase letters)
        temporary_password_validity_days:
          type: integer
          x-go-type: uint64
          example: 10
          description: 仮パスワードの有効期限(temporary password expiration date)
      required:
        - minimum_length
        - is_require_lowercase
        - is_require_numbers
        - is_require_symbols
        - is_require_uppercase
        - temporary_password_validity_days
    DeviceConfiguration:
      type: object
      description: |
        信頼済みデバイスの記憶の設定(settings for remembering trusted devices)
      properties:
        device_remembering:
          type: string
          enum:
            - always
            - userOptIn
            - "no"
          example: always
          description: |
            always: 常に記憶する(always remember)
            userOptIn: ユーザーオプトイン(user opt-in)
            no: (don't save)
      required:
        - device_remembering
    AccountVerification:
      type: object
      description: |
        アカウント認証設定(account authentication settings)
        ※ 未提供の機能のため、変更・保存はできません(This function is not yet provided, so it cannot be changed or saved.)
      properties:
        verification_method:
          type: string
          enum:
            - code
            - link
          example: code
          description: |
            code: 検証コード(verification code)
            link: 検証リンク(verification link)
            ※ 未提供の機能のため、変更・保存はできません(This function is not yet provided, so it cannot be changed or saved.)
        sending_to:
          type: string
          enum:
            - email
            - sms
            - smsOrEmail
          example: email
          description: |
            email: Eメール(e-mail)
            sms: SMS
            smsOrEmail: SMS不可の場合にEメール(email if SMS is not possible)
      required:
        - verification_method
        - sending_to
    UpdateSignInSettingsParam:
      type: object
      properties:
        password_policy:
          $ref: "#/components/schemas/PasswordPolicy"
        device_configuration:
          $ref: "#/components/schemas/DeviceConfiguration"
        mfa_configuration:
          $ref: "#/components/schemas/MfaConfiguration"
        recaptcha_props:
          $ref: "#/components/schemas/RecaptchaProps"
        account_verification:
          $ref: "#/components/schemas/AccountVerification"
        self_regist:
          $ref: "#/components/schemas/SelfRegist"
    MfaConfiguration:
      type: object
      description: |
        MFAデバイス認証設定(MFA device authentication settings)
        ※ 未提供の機能のため、変更・保存はできません(This function is not yet provided, so it cannot be changed or saved.)
      properties:
        mfa_configuration:
          type: string
          enum:
            - "on"
            - optional
          example: on
          description: |
            on: 全ユーザーがログイン時に適用(apply when all users log in)
            optional: MFA要素が有効になっている個別ユーザーに適用(apply to individual users with MFA factor enabled)
            ※ パラメータは現在optionalで固定となります。(The parameter is currently optional and fixed.)
      required:
        - mfa_configuration
    RecaptchaProps:
      type: object
      description: |
        reCAPTCHA認証設定(reCAPTCHA authentication settings)
        ※ 未提供の機能のため、変更・保存はできません(This function is not yet provided, so it cannot be changed or saved.)
      properties:
        site_key:
          type: string
          example: ede66c43-9b9d-4222-93ed-5f11c96e08e2
          description: サイトキー(site key)
        secret_key:
          type: string
          example: d5794b1b-5f92-4dc6-aa48-085dbb08b813
          description: シークレットキー(secret key)
      required:
        - site_key
        - secret_key
    IdentityProviderConfiguration:
      title: 外部IDプロバイダ設定(External Identity Provider Configuration)
      type: object
      description: |
        外部IDプロバイダを利用したサインインの設定をするために必要な情報です。(This information is required to set up sign-in using an external identity provider.)
        変更はできません。(It cannot be changed.)
      properties:
        domain:
          type: string
          description: ドメイン(domain)
        redirect_url:
          type: string
          description: リダイレクトURL(redirect URL)
      required:
        - domain
        - redirect_url
    CreateEnvParam:
      title: 環境の作成パラメータ(Create Environment Parameters)
      $ref: "#/components/schemas/Env"
    UpdateEnvParam:
      title: 環境の更新パラメータ(Environment Update Parameters)
      type: object
      properties:
        name:
          type: string
          example: saasus_dev
          description: 環境名(env name)
      required:
        - name
    Env:
      title: 環境情報(Env Info)
      description: 環境情報(env info)
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
          description: 環境ID(env ID)
        name:
          type: string
          example: saasus_dev
          description: 環境名(env name)
      required:
        - id
        - name
    Envs:
      title: 環境情報(Env Info)
      description: env一覧(env list)
      type: object
      properties:
        envs:
          type: array
          items: {$ref: "#/components/schemas/Env"}
      required:
        - envs
    CustomizePages:
      type: object
      properties:
        sign_up_page:
          $ref: "#/components/schemas/CustomizePageProps"
          description: 新規登録画面(new registration page)
        sign_in_page:
          $ref: "#/components/schemas/CustomizePageProps"
          description: ログイン画面(login page)
        password_reset_page:
          $ref: "#/components/schemas/CustomizePageProps"
          description: パスワードリセット画面(password reset page)
      required:
        - sign_up_page
        - sign_in_page
        - password_reset_page
    CustomizePageProps:
      type: object
      properties:
        html_contents:
          type: string
          example: <html><div>画面内容</div></html>
          description: |
            画面のHTMLを編集できます
            ※ 未提供の機能のため、変更・保存はできません

            Edit page HTML
            ※ This function is not yet provided, so it cannot be changed or saved.
        is_terms_of_service:
          type: boolean
          example: true
          description: 利用規約の同意チェックボックスを表示するが設定されているか(display the terms of use agreement check box)
        is_privacy_policy:
          type: boolean
          example: true
          description: プライバシーポリシーチェックボックスを表示するが設定されているか(show the privacy policy checkbox)
      required:
        - html_contents
        - is_terms_of_service
        - is_privacy_policy
    UpdateCustomizePagesParam:
      type: object
      properties:
        sign_up_page:
          $ref: "#/components/schemas/CustomizePageProps"
          description: 新規登録画面(new registration page)
        sign_in_page:
          $ref: "#/components/schemas/CustomizePageProps"
          description: ログイン画面(login page)
        password_reset_page:
          $ref: "#/components/schemas/CustomizePageProps"
          description: パスワードリセット画面(password reset page)
    SelfRegist:
      type: object
      description: セルフサインアップを許可設定(self sign-up permission)
      properties:
        enable:
          type: boolean
          example: true
      required:
        - enable
    CustomizePageSettingsProps:
      type: object
      properties:
        title:
          type: string
          example: SaaSus
          description: サービス名(service name)
        terms_of_service_url:
          type: string
          example: http://dev.example.com/terms
          description: 利用規約URL(terms of service URL)
        privacy_policy_url:
          type: string
          example: http://dev.example.com/privacy
          description: プライバシーポリシーURL(privacy policy URL)
        google_tag_manager_container_id:
          type: string
          example: GTM-XXXXXXX
          description: Google Tag Manager コンテナ ID(Google Tag Manager container ID)
      required:
        - title
        - terms_of_service_url
        - privacy_policy_url
        - google_tag_manager_container_id
    CustomizePageSettings:
      type: object
      allOf:
      - properties:
          icon:
            type: string
            example: http://icon.example.com
            description: サービスアイコン(service icon)
          favicon:
            type: string
            example: http://icon.example.com
            description: ファビコン(favicon)
        required:
          - icon
          - favicon
      - $ref: "#/components/schemas/CustomizePageSettingsProps"
    UpdateCustomizePageSettingsParam:
      type: object
      allOf:
      - properties:
          icon:
            type: string
            format: base64
            example: data:image/png;base64,ZDMiIHN0UmVmOmRvY3VtZW50SUQ9Inhtc==
            description: サービスアイコン(service icon)
          favicon:
            type: string
            format: base64
            example: data:image/png;base64,ZDMiIHN0UmVmOmRvY3VtZW50SUQ9Inhtc==
            description: ファビコン(favicon)
        required:
          - icon
          - favicon
      - $ref: "#/components/schemas/CustomizePageSettingsProps"
    PlanHistory:
      type: object
      properties:
        plan_id:
          $ref: "#/components/schemas/Uuid"
          description: 料金プランID
        plan_applied_at:
          type: integer
          example: 1640995200
          description: 登録日時
        tax_rate_id:
          $ref: "#/components/schemas/Uuid"
          description: 税率ID(tax rate ID)
      required:
        - plan_id
        - plan_applied_at
    PlanHistories:
      type: object
      properties:
        plan_histories:
          type: array
          items: {$ref: "#/components/schemas/PlanHistory"}
          description: 料金プラン履歴
      required:
        - plan_histories
    ClientSecret:
      title: ClientSecret
      type: object
      properties:
        client_secret:
          type: string
          description: クライアントシークレット(client secret)
          example: d9eH6xcJ5OU4tUff
      required:
        - client_secret
    Credentials:
      title: 認証・認可情報(Authentication/Authorization Information)
      type: object
      properties:
        id_token:
          title: IDトークン(ID Token)
          description: IDトークン(ID token)
          type: string
        access_token:
          title: アクセストークン(Access Token)
          description: アクセストークン(access token)
          type: string
        refresh_token:
          title: リフレッシュトークン(Refresh Token)
          description: リフレッシュトークン(refresh token)
          type: string
      required:
        - id_token
        - access_token
    CreateAuthCredentialsParam:
      title: 認証・認可情報の保存パラメータ(Authentication/Authorization Storage Parameters)
      $ref: '#/components/schemas/Credentials'
    AuthorizationTempCode:
      type: object
      properties:
        code:
          title: 認証・認可情報取得のための認可コード(Authorization Code for Getting Authentication/Authorization Information)
          description: 一時コード(temp code)
          $ref: "#/components/schemas/Uuid"
      required:
        - code
    CreateSecretCodeParam:
      title: 認証アプリケーション登録用のシークレットコード作成パラメータ(Secret Code Creation Parameters for Authentication Application Registration)
      type: object
      properties:
        access_token:
          title: アクセストークン(Access Token)
          description: アクセストークン(access token)
          type: string
      required:
        - access_token
    SoftwareTokenSecretCode:
      title: 認証アプリケーション登録用のシークレットコード(Secret Code for Authentication Application Registration)
      type: object
      properties:
        secret_code:
          title: シークレットコード(Secret Code)
          description: シークレットコード(secret code)
          type: string
      required:
        - secret_code
    UpdateSoftwareTokenParam:
      title: 認証アプリケーションの登録パラメータ(Authentication Application Registration Parameters)
      type: object
      properties:
        access_token:
          title: アクセストークン(Access Token)
          description: アクセストークン(access token)
          type: string
        verification_code:
          title: 検証コード(Verification Code)
          description: 検証コード(verification code)
          type: string
      required:
        - access_token
        - verification_code
    MfaPreference:
      title: ユーザーのMFA設定(User MFA Settings)
      type: object
      properties:
        enabled:
          title: MFAを有効にするか否か(Enable MFA)
          description: MFAを有効にするか否か(enable MFA)
          type: boolean
[...]
